.btns {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
  background-color: #fafafa;
}

.btns .btn {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}

.btns::after {
  content: '';
  position: absolute;
  display: block;
  top: 0.066667rem;
  left: 50%;
  width: 0.026667rem;
  height: 1.066667rem;
  margin-left: -0.013333rem;
  background-color: #efefef;
}

.btns>a {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}

.btns .bf-icon {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
  background-position: -0.32rem -5.146667rem;
  margin: 0 auto;
}

.btns .yj .bf-icon {
  background-position: -1.466667rem -5.146667rem;
}

.btns p {
  font-size: 0.266667rem;
  line-height: 0.533333rem;
  text-align: center;
}

.container ul.q {
  width: 100%;
  padding: 0 0.4rem;
}

.container .q>li {
  width: 100%;
  height: 1.44rem;
  font-size: 0.373333rem;
  line-height: 1.44rem;
  box-sizing: border-box;
  border-bottom: 0.026667rem solid #efefef;
  color: #666;
}

.container .q>li>a {
  display: block;
  height: 100%;
  width: 100%;
}

/*
    ==========container结束，footer开始==========
*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.306667rem;
  border-top: 0.026667rem solid #DDDDDE;
  background-color: #F2F4F5;
}

.footer ul {
  display: block;
  width: 100%;
  height: 100%;
}

.footer ul li {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
}

.footer ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer ul li .main-icon {
  display: block;
  width: 0.733333rem;
  height: 0.733333rem;
  margin: 0.2rem auto 0.04rem;
  background-position: -4.933333rem -2.586667rem;
}

.footer ul li:nth-child(2) .main-icon {
  background-position: -6.133333rem -2.586667rem;
}

.footer ul li:nth-child(3) .main-icon {
  background-position: -7.293333rem -2.586667rem;
}

.footer ul li:last-child .main-icon {
  width: 0.8rem;
  background-position: -8.44rem -2.586667rem;
}

.footer ul li .text {
  display: block;
  width: 100%;
  height: 0.373333rem;
  font-size: 0.266667rem;
  color: #333333;
  text-align: center;
  text-indent: -0.08rem;
  line-height: 0.373333rem;
}

/*点击li切换icon=======*/

.footer ul li:first-child.active .main-icon {
  background-position: -0.266667rem -2.586667rem;
}

.footer ul li:nth-child(2).active .main-icon {
  background-position: -1.453333rem -2.586667rem;
}

.footer ul li:nth-child(3).active .main-icon {
  background-position: -2.573333rem -2.586667rem;
}

.footer ul li:last-child.active .main-icon {
  background-position: -3.733333rem -2.586667rem;
}