.detail-banner>.banner {
  background-image: url('img/djqx-banner.jpg');
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.container>.s1 {
  margin-top: 0.613333rem;
}

.container>.s1,
.container>.s2,
.container>.fwbz-block,
.container>.fwbz2-block {
  width: 100%;
  padding-bottom: 0.613333rem;
  margin-bottom: 0.613333rem;
  border-bottom: 0.026667rem solid #DDDDDE;
  overflow: hidden;
}

.s1 .fwgs-img1 {
  width: 100%;
  margin-top: 0.613333rem;
}

.s1 .fwgs-img-item {
  width: 100%;
  overflow: hidden;
}

.s1 .fwgs-text1,
.s1 .fwgs-text2 {
  font-size: 0.373333rem;
  line-height: 0.533333rem;
  margin: 0.4rem;
}

.s1 .fwgs-text2 {
  font-size: 0.32rem;
  line-height: 0.453333rem;
  margin: 0.4rem;
  margin-bottom: 0;
}

.s1 .fwgs-img-item>img {
  display: block;
  float: left;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  margin-left: 0.4rem;
}

.s2 .img-item {
  width: 100%;
  /*margin-top: 46px;*/
  padding-top: 0.666667rem;
  overflow: hidden;
}

.s2 .img-item .img-block {
  width: 33%;
  float: left;
  padding: 0 0.2rem;
  box-sizing: border-box;
}

.s2 .img-item .img-block>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.s2 .img-item .img-block>p {
  text-align: center;
}

.s2 .text2 {
  font-size: 0.32rem;
  line-height: 0.453333rem;
  padding: 0 0.48rem;
  margin-top: 0.213333rem;
}

.container .ext {
  margin-top: 0.4rem;
  margin-left: 0.666667rem;
}

.fwbz2-block .detail-fwbz-block {
  margin-top: 0.613333rem;
}