.detail-banner>.banner {
  background-repeat: no-repeat;
}

.container>.s1 {
  margin-top: 0.613333rem;
}

.container>.s1,
.container>.s3,
.container>.s4,
.container>.fwbz-block,
.container>.fwbz2-block {
  width: 100%;
  padding-bottom: 0.613333rem;
  margin-bottom: 0.613333rem;
  border-bottom: 0.026667rem solid #DDDDDE;
  overflow: hidden;
}

.container>.s2 {
  width: 100%;
  /*padding-bottom: 46px;*/
  margin-bottom: 0.613333rem;
  /*border-bottom: 2px solid #DDDDDE;*/
  overflow: hidden;
}

.s2 .fwfw-desc .text-item {
  padding-top: 0.48rem;
}

.s2 .fwfw-desc .text-item>.dot-item {
  margin-bottom: 0.48rem;
}

.s2 .fwfw-desc .text-item>.dot-item:nth-child(2) {
  width: 5.733333rem;
}

.s2 .fwfw-desc {
  padding: 0 0.4rem;
}

.s2 .fwfw-desc img {
  width: 9.2rem;
}

.container .ext {
  margin-top: 0.4rem;
  margin-left: 0.666667rem;
}

.fwbz2-block .detail-fwbz-block {
  margin-top: 0.613333rem;
}

.s1 .detail-desc-block .tit {
  font-size: 0.32rem;
  color: #666666;
  text-align: center;
  line-height: 0.453333rem;
  padding-bottom: 0.4rem;
}

.s3 img {
  width: 9.2rem;
  padding-top: 0.6rem;
  padding-left: 0.32rem;
}

.miao {
  font-size: 0.32rem;
  color: #666666;
}

.color {
  font-size: 0.373333rem;
  color: #666666;
}

.mt-50 {
  margin-top: 0.666667rem;
}

.clr {
  clear: both;
}

.mt-20 {
  margin-top: 0.266667rem;
}

.text {
  display: block;
  margin: 0 auto;
  width: 8.24rem;
  height: 2.64rem;
  border-radius: 0.133333rem;
  border: 0.013333rem solid #999;
  padding: 0.2rem 0.266667rem;
  box-sizing: border-box;
  font-size: 0.32rem;
  color: #999;
  line-height: 0.453333rem;
}

.img-box {
  width: 100%;
}

.img-box>img {
  height: 100%;
  width: 100%;
}

.red-text {
  text-align: center;
  color: #D23F45;
  font-size: 0.32rem;
}

.hr {
  width: 100%;
  height: 0.013333rem;
  background-color: #DDDDDE;
}

.cent-txt {
  text-align: center;
}

.dxsy {
  color: #666;
  font-size: 0.32rem;
}

.img-float {
  overflow: hidden;
}

.img-box.img-float>img {
  float: left;
  margin: 0.133333rem;
  box-sizing: border-box;
  width: 4.453333rem;
}

.txt-left {
  color: #999;
  font-size: 0.32rem;
  text-indent: 0.16rem;
}

.text-50 {
  width: 50%;
  text-align: center;
  float: left;
  color: #666;
  font-size: 0.32rem;
}

.text-50 .w-50 {
  display: block;
  width: 1.6rem;
  margin: 0 auto;
  line-height: 0.466667rem;
}

div.bg-red {
  background-color: #CD262E;
}

.color-red {
  color: #CD262E;
}

.color-fff {
  color: #fff;
}

body span.size-28 {
  font-size: 0.373333rem;
}

.box-radius-5 {
  border-radius: 0.133333rem;
  width: 2rem;
  height: 1.28rem;
  border: 0.013333rem solid  #CD262E;
}

.box {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.box .block {
  display: inline-block;
  height: 1.28rem;
  width: 2rem;
  margin: 0 0.266667rem;
  border-radius: 0.133333rem;
  padding: 0.133333rem 0.133333rem;
  border: 0.013333rem solid #CD262E;
  text-align: left;
}

.box .block .line-1 {
  font-size: 0.533333rem;
  line-height: 0.746667rem;
  text-indent: 0.266667rem;
}

.box .block .line-2 {
  font-size: 0.373333rem;
  line-height: 0.533333rem;
  text-indent: 0.133333rem;
}

.txt-gray {
  color: #999;
  font-size: 0.32rem;
  line-height: 0.453333rem;
}

.w-600 {
  width: 8rem;
  display: block;
  margin: 0 auto;
}