.banner {
  background-image: url('img/1504258202590.jpg');
}

.mt-45 {
  margin-top: 0.6rem;
}

.list {
  margin-left: 0.4rem;
}

.list li {
  line-height: 0.453333rem;
  font-size: 0.32rem;
  color: #999;
  text-indent: 0.333333rem;
  width: 8.96rem;
}

.list li.title {
  color: #666666;
  text-indent: 0.266667rem;
  font-size: 0.373333rem;
  line-height: 0.8rem;
}

.text {
  display: block;
  margin: 0.6rem auto;
  width: 8.24rem;
  border-radius: 0.133333rem;
  border: 0.013333rem solid #999;
  padding: 0.2rem 0.266667rem;
  box-sizing: border-box;
  font-size: 0.32rem;
  color: #999;
  line-height: 0.453333rem;
}

.txt-cent {
  text-align: center;
}

.color-red {
  color: #d8595e;
}

.img1-cent>img {
  width: 8.8rem;
}

.color-666 {
  color: #666;
}

.f-size-24 {
  font-size: 0.32rem;
  line-height: 0.453333rem;
}

.f-size-28 {
  font-size: 0.373333rem;
  line-height: 0.453333rem;
}

.sfbz-table {
  display: block;
  width: 8.613333rem;
  height: 3.546667rem;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.sfbz-table td {
  line-height: 0.886667rem;
  font-size: 0.32rem;
  height: 0.886667rem;
  width: 4.306667rem;
  color: #666;
  border: 0.013333rem solid #999;
}

.notice {
  position: relative;
  text-align: left;
  color: #999;
  font-size: 0.32rem;
  width: 7.733333rem;
  display: block;
  margin: 0.6rem auto;
}

.notice::before {
  position: absolute;
  left: -0.533333rem;
  top: 0;
  content: '注：';
  font-size: 0.266667rem;
}

.hr {
  display: block;
  width: 100%;
  height: 0.026667rem;
  background-color: #DDDDDE;
  margin: 0.6rem 0;
}

.fwfw-banner>img {
  width: 100%;
}

.fwfw-txt {
  display: block;
  width: 9.173333rem;
  text-align: left;
  text-indent: 0.333333rem;
  color: #666;
  font-size: 0.32rem;
  margin: 0 auto;
}

.mb-45 {
  margin-bottom: 0.6rem;
}

.box {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.box .block {
  display: inline-block;
  height: 1.28rem;
  width: 2rem;
  margin: 0 0.266667rem;
  border-radius: 0.133333rem;
  padding: 0.133333rem 0.133333rem;
  border: 0.013333rem solid #CD262E;
  text-align: left;
}

.box .block .line-1 {
  font-size: 0.533333rem;
  line-height: 0.746667rem;
  text-indent: 0.266667rem;
}

.box .block .line-2 {
  font-size: 0.373333rem;
  line-height: 0.533333rem;
  text-indent: 0.133333rem;
}

div.bg-red {
  background-color: #CD262E;
}

.color-red {
  color: #CD262E;
}

.color-fff {
  color: #fff;
}

.box {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.box .block {
  display: inline-block;
  height: 1.28rem;
  width: 2rem;
  margin: 0 0.266667rem;
  border-radius: 0.133333rem;
  padding: 0.133333rem 0.133333rem;
  border: 0.013333rem solid #CD262E;
  text-align: left;
}

.box .block .line-1 {
  font-size: 0.533333rem;
  line-height: 0.746667rem;
  text-indent: 0.266667rem;
}

.box .block .line-2 {
  font-size: 0.373333rem;
  line-height: 0.533333rem;
  text-indent: 0.133333rem;
}

div.bg-red {
  background-color: #CD262E;
}

.color-red {
  color: #CD262E;
}

.color-fff {
  color: #fff;
}

/*服务流程*/

.fuwu {
  padding: 0 0.48rem;
}

.fuwu .step .step-desc {
  display: inline-block;
  vertical-align: top;
  width: 4.48rem;
  height: 4.213333rem;
  text-align: left;
}

.fuwu .step .step-desc.va {
  padding-top: 0.8rem;
}

.fuwu .step .step-desc .step1 {
  font-size: 0.426667rem;
  color: #CD262E;
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 0.573333rem;
}

.fuwu .step img {
  display: inline-block;
  width: 4.08rem;
  height: 4.213333rem;
  border-radius: 50%;
}

/*对比图*/

.duibi {
  padding: 0 0.4rem;
}

.duibi img {
  width: 9.2rem;
  margin-top: 0.533333rem;
  margin-bottom: 0.533333rem;
}

.clbz img {
  width: 100%;
  margin-top: 0.533333rem;
  margin-bottom: 0.533333rem;
}